    
<div ng-show="pict" style="text-align: center" class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 pop">
                <img style="height: 200px" class="img-responsive" src="../ImageApp/کارت های تبریک.png" alt="">
            </div>
        </div>
        <div  class="row">
            <div style="margin-top: 10px" class="col-md-6 col-sm-12 col-xs-12 pop hover01">
                <figure>
                    <img ng-click="sendrequestcartpostal()" style="width: 320px"  class="img-responsive" src="../ImageApp/روز پدر.png"
                         alt="">
                </figure>
            </div>
            <!--<div style="margin-top: 10px" class="col-md-4 col-sm-12 col-xs-12 pop hover01">
                <figure> <img style="width: 350px" class="img-responsive" src="../ImageApp/تولد.png" alt=""></figure>
            </div>-->
            <div  style="margin-top: 10px"  class="col-md-6 col-sm-12 col-xs-12 pop hover01">
                <figure><img ng-click="sendrequestcartpostalBirithDay()" style="width: 320px"  class="img-responsive" src="../ImageApp/سال نو.png" alt=""></figure>
            </div>
        </div>
    </div>
</div>

<secound-Result ng-show="secound"></secound-Result>

<secound-Resultb ng-show="sec"></secound-Resultb>